.sidebar {
    -fx-background-color: -fx-sidebar-bg;
    /*-fx-border-color: transparent -fx-grid-border transparent transparent;
    -fx-border-width: 1px;*/
    -fx-background-radius: 12px;
    -fx-border-radius: 12px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 30, 0, 0, 10);
    -fx-pref-width: 280px;
    -fx-spacing: 24px;
    -fx-padding: 24px
}
.config-group {
    -fx-spacing: 12px
}
.group-label {
    -fx-max-width: 'Infinity';
    -fx-font-size: 10px;
    -fx-font-weight: 700;
    -fx-text-fill: -fx-text-muted;
    -fx-padding: 0 0 6px 0;
    -fx-border-color: transparent transparent -fx-grid-border transparent;
    -fx-border-width: 0 0 1px 0;
}
.options-row {
    -fx-spacing: 6px
}
.options-grid {
    -fx-hgap: 6px;
    -fx-vgap: 6px
}
.scenario-sub-container {
    -fx-spacing: 12px
}
.option-btn {
    -fx-max-width: 'Infinity';
    -fx-alignment: center;
    -fx-background-color: #1c1f23;
    -fx-border-color: -fx-grid-border;
    -fx-border-width: 1px;
    -fx-text-fill: #a1a1aa;
    -fx-font-size: 11px;
    -fx-font-weight: 600;
    -fx-padding: 6px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px
}
.option-btn:hover {
    -fx-border-color: #52525b;
    -fx-text-fill: #f4f4f5;
    -fx-background-color: #23272c
}
.option-btn:selected {
    -fx-background-color: -fx-accent-primary;
    -fx-border-color: -fx-accent-primary;
    -fx-text-fill: black;
    -fx-font-weight: 700;
    /*-fx-effect: dropshadow(gaussian, -fx-accent-glow, 12, 0, 0, 0)*/
}
